folium == 0.14.0
streamlit_folium == 0.13.0
pandas == 1.5.3
streamlit == 1.25.0
IPython == 8.2.0
matplotlib >= 3.4.0
altair==4.1.0
vega==4.0.0
plotly == 5.16.0
#sys
#HeatMap
#FastMarkerCluster
# Add other dependencies here